h1{
  color: blue;
  text-align: center;
  font-size: 100px;
  
}
p{font-size: 20px;
color: white;
}
h2{
  color:blue;
  font-size: 80px;
  font-style: italic;

}
h3{
color:blue;
font-size: 50px;
}
ul{
  color: white;
}
body{
  background-attachment: fixed;

}

